gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
GeneratedPluginRegistrant.java
.cxx/
assets/Icon apk/Logo GrowME.png

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
